<html>  
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        
        <h1>HELLO WORLD!</h1>
        <form action="/submit" method='post'>
            <label for="Science">Science:</label><br>
            <input type="text" id="science" name="science" placeholder="0"><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" id="maths" name="maths" placeholder="0"><br><br>
            <label for="C ">C:</label><br>
            <input type="text" id="c" name="c" placeholder="0"><br><br>
            <label for="datascience">Data Science:</label><br>
            <input type="text" id="datascience" name="datascience" placeholder="0"><br><br>
            <input type="submit" value="Submit">
          </form> 
          
          <p>If you click the "Submit" button, the form-data will be sent to "/submit".</p>
          
    </body>
</html>